﻿
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

#left-menu {
    width: 200px;
    min-height: 450px;
    margin-right: 5px;
    float: left;
}
.m-container {
    float: left;
    position: absolute;
    margin-left: 200px;
}
.c-container {
    border: 1px solid #e0e0e0;
    border-top: 0;
    padding: 5px;
    min-height: 450px;
}

span.glyphicon{
	margin-right: 10px;
}

p.error-message{
	color:red;
}

.small-input{
	width: 220px;
}

.small-textarea{
	width: 320px;
}

.input-title{
	width: 600px;
}

.field-validation-error{
	color: red;
}

.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}