﻿@import "slider.less";
#kn-top-menu {
  padding-top: 30px;
  padding-left: 120px;
  padding-right: 120px;
  background-color: #f6eee3;
  .logo{
    max-width: 300px;
    float: left;
    margin-bottom: 10px;
    margin-right: 150px;
  }
  .small-box{
    float: left;
    text-transform: uppercase;
    margin-right: 50px;
    margin-bottom: 10px;
  }
  .navbar {
    border: none;
    text-transform: uppercase;
    max-width: 1200px;
  }
  .navbar-default{
    background-color: #7db641;
    border-color: #7db641;/*#c83a3a*/
    padding: 0px;
    min-width: 300px;
  }
  .navbar-default .navbar-nav>.open>a {
    background-color: #c83a3a;
  }
  ul li a:hover{
    background-color: #c83a3a;
    transition: background-color 300ms linear;
  }
  ul li a:focus{
    background-color: #c83a3a;
  }

  .active a{
    background-color: #c83a3a;
  }

  .dropdown-menu>li>a:hover {
    color: white;
    transition: color 300ms linear;
  }
}

span.glyphicon{
	margin-right: 5px;
}
.advertising{
	img{
		width: 277px;
		height: 254px;
	}
}

.container {
  max-width: 1140px;
}

.iconbox {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: 34px;
  line-height: 34px;
  width: 34px;
  -webkit-box-shadow: 0 0 0 3px #4c4c4c;
  box-shadow: 0 0 0 3px #4c4c4c;
  position: relative;
  z-index: 1;
  display: inline-block;//transition: all 0.4s ease 0s;
  margin-right: 5px;
}
  .iconbox:hover{
    box-shadow: 0 0 0 3px #7db641;
    transition: all 300ms linear;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
  }

.kn-left{
  max-width: 300px;
  /*border: 1px solid #e0e0e0;*/
  float: left;
  margin-right: 10px;
  
}

.kn-main{
  float: left;
  max-width: 823px;
  width: 100%;
}

.left-box-content{
  margin-top: 10px;
  .box{
    min-height: 50px;
    margin-bottom: 5px;
    background-color: #eee;
    img{
      float: left;
	
    }
  }
}

.btn-success{
  background-color: #7db641 !important;
  border: 0px !important;
  text-transform: uppercase;
}
.btn-success:hover{
  border: 0px !important;
  background-color: #c83a3a !important;

  transition: background-color 300ms linear;
}

.kn-panel{
  background-color: #7db641;
  color: white;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-bottom: 5px;
}

.kn-panel-bottom-line{
  padding: 5px 20px 5px 20px;
  border-bottom: 2px solid #7db641;
  margin-top: -3px;
  padding: 0;
}

.kn-special{
  margin-top: 35px;
  padding: 5px;
  .product-box{
    margin-bottom: 15px;
    img{
      float: left;
      width: 50px;
      height: 50px;
      margin-right: 5px;
	    border: 1px solid #e0e0e0;
    }
    h4.price{
		font-family: "Arial";
		font-weight: normal;
		del{
			color: black;
			font-size: 15px;
		}
		b{
			color: #c83a3a
		}
    }
  }
}

.product-block{
	margin: 5px 10px 5px 5px;
	height: 250px;
	padding: 2px;
	width: 190px;
	float: left;
	border: 1px solid #e0e0e0;
	.product-image{
		height: 150px;
		width: 188px;
		img{
			height: 150px;
			width: 185px;
		}

	}
	.product-title{
		font-size: 20px;
		text-align: center;
	}
	.product-price{
		font-family: "Arial";
		color: #c83a3a;
		font-size: 18px;
		text-align: center;
		del{
			margin-right: 5px;
			color: black;
			font-size: 15px;
		}
	}
	a.btn{
		margin-top: 10px;
		margin-bottom: 5px;
		margin-left: 33px;
	}
	
	
}

.product-single{
	img{
		height: 120px;
		width: 160px;
		float: left;
		margin: 5px;
	}
	h1.product-title{
		
		
	}
	
	.product-brand{
		font-size: 15px;
	}
	
	.product-price{
		font-family: "Arial";
		color: #c83a3a;
		font-size: 18px;
	
		del{
			margin-right: 5px;
			color: black;
			font-size: 15px;
		}
	}
	a.btn{
		margin-top: 10px;
		margin-bottom: 5px;
		margin-left: 33px;
	}
	
}

.mg-space{
	margin-top: 5px;
	margin-bottom: 5px;
	content: " ";
}

#footer{
	border-top: 1px solid #7db641;
	margin-top: 15px;
	h3{
		font-size: 20px;
		font-weight: bold;			
	}
	
	.menu-box{
		padding: 5px;
		width: 250px;
		height: 200px;
		margin: 5px;
		float: right;
	
	}
}
.da-img {
	img{
		height: 256px;
		width: 256px;
	}
}
@media (max-width: 1084px) {
  #kn-top-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container{
    width: 100% !important;
  }
  .advertising{
    display: none !important;
    visibility: hidden;
    height: 1px;
  }

  .kn-main{
    width: 75%;
  }
}

@media (max-width: 876px) {
  .da-slider{
    display: none;
  }
  .kn-left{
    width: 100%;
    max-width: 100%;
  }
}