﻿<div id="left-menu">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header disabled"><a href="#">Dash board</a></li>
        <li id="lm-customer">@Html.ActionLink("Khách hàng","Index", "Customer")</li>
      <li id="lm-location">@Html.ActionLink("Nơi sản xuất","Index", "Location")</li>
       <li id="lm-image">@Html.ActionLink("Ảnh","Index", "Image")</li>
       <li id="lm-user">@Html.ActionLink("Người dùng","Index", "User")</li>
        <li id="lm-group">@Html.ActionLink("Nhóm","Index", "Group")</li>
    </ul>
</div>
