﻿<ul class="nav nav-tabs">
  <li @ViewBag.Misc.IsActive("/Admin/AdProduct", ViewBag.CurrentUrl)>@Html.ActionLink("Tất cả sản phẩm","Index")</li>
  <li @ViewBag.Misc.IsActive("/Admin/AdProduct/Create", ViewBag.CurrentUrl)>@Html.ActionLink("Thêm sản phẩm", "Create")</li>
</ul>