﻿<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fashion Shop</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="tm-home">@Html.ActionLink("Home", "index",  new { area = "Home", controller = "Home", action = "Index" })</li>
              <li id="tm-post">@Html.ActionLink("Bài viết","Index", "Post")</li>
            <li id="tm-product">@Html.ActionLink("Sản phẩm","Index", "Product")</li>
            <li id="tm-brand">@Html.ActionLink("Thương hiệu","Index", "Brand")</li>
            <li id="tm-catalogue">@Html.ActionLink("Phân loại","Index", "ProductCatalogue")</li>
            @if(Session["Username"] != null){
              <li class="dropdown">               
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Xin chào, @Session["Username"] <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Đăng xuất","Logout", "User")</li>
                      </ul>
                  
                @*<li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>*@
              
            </li>
            }
          </ul>
        </div><!--/.nav-collapse -->
      </div> <!--.container-->
    </div>