#kn-top-menu {
  padding-top: 30px;
  padding-left: 120px;
  padding-right: 120px;
  background-color: #f6eee3;
}
#kn-top-menu .logo {
  max-width: 300px;
  float: left;
  margin-bottom: 10px;
  margin-right: 150px;
}
#kn-top-menu .small-box {
  float: left;
  text-transform: uppercase;
  margin-right: 50px;
  margin-bottom: 10px;
}
#kn-top-menu .navbar {
  border: none;
  text-transform: uppercase;
  max-width: 1200px;
}
#kn-top-menu .navbar-default {
  background-color: #7db641;
  border-color: #7db641;
  /*#c83a3a*/

  padding: 0px;
  min-width: 300px;
}
#kn-top-menu .navbar-default .navbar-nav > .open > a {
  background-color: #c83a3a;
}
#kn-top-menu ul li a:hover {
  background-color: #c83a3a;
  transition: background-color 300ms linear;
}
#kn-top-menu ul li a:focus {
  background-color: #c83a3a;
}
#kn-top-menu .active a {
  background-color: #c83a3a;
}
#kn-top-menu .dropdown-menu > li > a:hover {
  color: white;
  transition: color 300ms linear;
}
.container {
  max-width: 1140px;
}
.iconbox {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: 34px;
  line-height: 34px;
  width: 34px;
  -webkit-box-shadow: 0 0 0 3px #4c4c4c;
  box-shadow: 0 0 0 3px #4c4c4c;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 5px;
}
.iconbox:hover {
  box-shadow: 0 0 0 3px #7db641;
  transition: all 300ms linear;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
.kn-left {
  max-width: 300px;
  /*border: 1px solid #e0e0e0;*/

  float: left;
  margin-right: 10px;
}
.kn-main {
  float: left;
  max-width: 823px;
  width: 100%;
}
.left-box-content {
  margin-top: 10px;
}
.left-box-content .box {
  min-height: 50px;
  margin-bottom: 5px;
  background-color: #eee;
}
.left-box-content .box img {
  float: left;
}
.btn-success {
  background-color: #7db641 !important;
  border: 0px !important;
  text-transform: uppercase;
}
.btn-success:hover {
  border: 0px !important;
  background-color: #c83a3a !important;
  transition: background-color 300ms linear;
}
.kn-panel {
  background-color: #7db641;
  color: white;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-bottom: 5px;
}
.kn-panel-bottom-line {
  padding: 5px 20px 5px 20px;
  border-bottom: 2px solid #7db641;
  margin-top: -3px;
  padding: 0;
}
.kn-special {
  margin-top: 35px;
  padding: 5px;
}
.kn-special .product-box {
  margin-bottom: 15px;
}
.kn-special .product-box img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
@media (max-width: 1084px) {
  #kn-top-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container {
    width: 100% !important;
  }
  .advertising {
    display: none !important;
    visibility: hidden;
    height: 1px;
  }
  .kn-main {
    width: 75%;
  }
}
@media (max-width: 876px) {
  .da-slider {
    display: none;
  }
  .kn-left {
    width: 100%;
    max-width: 100%;
  }
}
