﻿@model FashionShop.Models.User

@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>
         <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Username, null, new { @class = "form-control small-input", @placeholder = "Tên đăng nhập", @value = "admin"})
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control small-input", @placeholder = "Mật khẩu", @value = "admin"})
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br />
        @if(ViewBag.LoginMessage != null){
        <div class="alert alert-danger" style="width:320px">
            @ViewBag.LoginMessage
        </div>
        }
        <button class="btn btn-info">Đăng nhập</button>
    </fieldset>
   @ViewBag.hello
   
}
