﻿@{
   
    ViewBag.Title = "Shop thời trang Mother";
    
}
<div class="kn-left">
    <div class="advertising">
    <img src="~/Content/img/banner-sidebar-277x254.jpg"/>
    </div>

    <div class="left-box-content">
        <div class="box">
        <img src="~/Content/img/icon-find.png"/>
            <b>ĐỊA CHỈ</b>
            <p>Hai Bà Trưng, Minh Khai, Hà Nội</p>
        </div>
        <div class="clearfix"></div>
        <div class="box">
            <img src="~/Content/img/icon-team.png"/>
            <b>LIÊN HỆ</b>
            <p>quan@quan.com<br>quan@quan.com</p>
        </div>
    </div>

    @Html.Partial("Elements/LeftProduct")
</div>
<div class="kn-main">
@Html.Partial("Elements/_Slide")
    <div class="kn-panel-bottom-line">
    <h2>SẢN PHẨM MỚI</h2>
        @foreach(FashionShop.Models.Product product in ViewBag.Products){
            string img = "/Content/img/product/" + product.ProductID + ".jpg";
            <div class="product-block">
        <div class="product-image">
             <a href="/san-pham/@product.ProductID/@product.URL"><img src="@img"/></a>
        </div>
        <div class="product-title">
            <a href="/san-pham/@product.ProductID/@product.URL">@product.Name</a>
        </div>
        <div class="product-price">
            @if(product.SalePrice < product.Price){
                <del>@product.Price.ToString("N0")</del>@product.SalePrice.ToString("N0") <span>đ</span>
            }else{
                @product.SalePrice.ToString("N0") <span>đ</span>
            }
        </div>
        <a class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span>Add to cart</a>
    </div>
        }
</div>
</div>@*kn-main*@

