﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
       
       
        @Styles.Render("~/Content/lib/bootstrap/css/___bootstrap.css")
         @Styles.Render("~/Content/css/admin.app.css")

       
    </head>
    <body>
        
       
            @Html.Partial("Elements/AdTopMenu")
            @Html.Partial("Elements/AdLeftMenu")
         <div class="container m-container">
                @RenderSection("featured", required: false)
                @RenderBody()
         </div>


        @Scripts.Render("~/Content/lib/jquery/jquery-1.10.2.min.js")
        @Scripts.Render("~/Content/lib/bootstrap/js/bootstrap.min.js")
        @Scripts.Render("~/Scripts/app.admin.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
