﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       
        @Styles.Render("~/Content/lib/bootstrap/css/___bootstrap.css")
        @Styles.Render("~/Content/css/home.app.css")
       
    </head>
    <body>
        @Html.Partial("Elements/_TopMenu")
        <div class="container">
            @RenderSection("featured", required: false)
            @RenderBody()
             @Html.Partial("Elements/Footer")
            <div id="fb-root"></div>
         </div>


        @Scripts.Render("~/Content/lib/jquery/jquery-1.10.2.min.js")
        @Scripts.Render("~/Content/lib/bootstrap/js/bootstrap.min.js")
        @Scripts.Render("~/Content/lib/slider/js/modernizr.custom.28468.js")
        @Scripts.Render("~/Content/lib/slider/js/jquery.cslider.js")
        @Scripts.Render("~/Scripts/app.home.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
