﻿<div id="da-slider" class="da-slider">
    @for(int i = 0; i < 5; i++){
        FashionShop.Models.Product p = ViewBag.Products[i];
        string img = "/Content/img/product/" + p.ProductID.ToString() + ".jpg"; 
    <div class="da-slide">
        <h2>@p.Name</h2>
        <p>@p.Description</p>
        <div class="da-img"><img src="@img"/></div>
    </div>
    }
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>