﻿<div class="kn-panel-bottom-line">
    <h2>SẢN PHẨM HOT</h2>
</div>
    @for(int i = 1; i< 9; i++){ 
        string img = "/Content/img/demo/" + i.ToString() + ".jpg"; 
    <div class="product-block">
        <div class="product-image">
             <a href="#"><img src="@img"/></a>
        </div>
        <div class="product-title">
            <a href="#">Samsung galaxy S4</a>
        </div>
        <div class="product-price">
            <del>11.850.000</del>11.900.000đ
        </div>
        <a class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span>Add to cart</a>
    </div>
    }
<div class="mg-space">&nbsp;</div>
<div class="kn-panel-bottom-line">
    <h2>SẢN PHẨM MỚI</h2>
</div>
    @for(int i = 1; i< 9; i++){
        string img = "/Content/img/demo/" + i.ToString() + ".png";
    <div class="product-block">
        <div class="product-image">
             <a href="#"><img src="@img"/></a>
        </div>
        <div class="product-title">
            <a href="#">Samsung galaxy S4</a>
        </div>
        <div class="product-price">
            <del>11.850.000</del>11.900.000đ
        </div>
        <a class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span>Add to cart</a>
    </div>
    }