﻿<div class="clearfix"></div>
<footer id="footer">
    <div class="menu-box">
        <h3>LIÊN HỆ</h3>
        <p>Proin gravida nibh vel velit auctor aliquet aene</p>
        <p>Phone: +01 888 (000) 1234</p>
        <p>Email: fashionshop@gmail.com</p>
    </div>
    <div class="menu-box">
        <h3>DỊCH VỤ</h3>
        <p>Phản hồi</p>
        <p>Site Map</p>
        <p>Voucher</p>
    </div>

    <div class="menu-box">
        <h3>MẠNG XÃ HỘI</h3>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Google+</p>
    </div>

    <div class="menu-box">
        <h3>EXTRA</h3>
        <p><a href="@Url.Action("Index", new {area = "Admin", controller = "Product", action = "Index"})">ADMIN PANEL</a></p>
    </div>
</footer>
