﻿<div class="kn-special">
        <div class="kn-panel">SIÊU HÓT</div>
   
        @foreach(FashionShop.Models.Product up in ViewBag.UnderwearProducts){
            string img = "/Content/img/product/" + up.ProductID.ToString() + ".jpg"; 
        <div class="product-box">
            <a href="/san-pham/@up.ProductID/@up.URL"><img src="@img"></a>
            <a href="/san-pham/@up.ProductID/@up.URL"><b>@up.Name</b></a>
            <h4 class="price">
                     @if (up.Price > up.SalePrice){
                        <del>@up.Price.ToString("N0");</del> 
                        <b>@up.SalePrice.ToString("N0")</b> <span>đ</span> 
                     }else{
                         <b>@up.SalePrice.ToString("N0")</b> <span>đ</span> 
                     }
                </h4>
        </div>
        }

        <div class="kn-panel">Quần</div>
        @foreach (FashionShop.Models.Product up in ViewBag.PantProducts){
            string img = "/Content/img/product/" + up.ProductID.ToString() + ".jpg"; 
        <div class="product-box">
           <a href="/san-pham/@up.ProductID/@up.URL"><img src="@img"></a>
            <a href="/san-pham/@up.ProductID/@up.URL"><b>@up.Name</b></a>
           <h4 class="price">
                     @if (up.Price > up.SalePrice){
                        <del>@up.Price.ToString("N0");</del> 
                        <b>@up.SalePrice.ToString("N0")</b> <span>đ</span> 
                     }else{
                         <b>@up.SalePrice.ToString("N0")</b> <span>đ</span> 
                     }
                </h4>
        </div>
        }

        <div class="kn-panel">Áo</div>
        @foreach (FashionShop.Models.Product up in ViewBag.CoatProducts){
            string img = "/Content/img/product/" + up.ProductID.ToString() + ".jpg"; 
        <div class="product-box">
            <a href="/san-pham/@up.ProductID/@up.URL"><img src="@img"></a>
            <a href="/san-pham/@up.ProductID/@up.URL"><b>@up.Name</b></a>
            <h4 class="price">
                     @if (up.Price > up.SalePrice){
                        <del>@up.Price.ToString("N0");</del> 
                        <b>@up.SalePrice.ToString("N0")</b> <span>đ</span> 
                     }else{
                         <b>@up.SalePrice.ToString("N0")</b> <span>đ</span> 
                     }
                </h4>
        </div>
        }
</div>