﻿<div class="kn-left">
    <div class="advertising">
    <img src="~/Content/img/banner-sidebar-277x254.jpg"/>
    </div>

    <div class="left-box-content">
        <div class="box">
        <img src="~/Content/img/icon-find.png"/>
            <b>ĐỊA CHỈ</b>
            <p>Hai Bà Trưng, Minh Khai, Hà Nội</p>
        </div>
        <div class="clearfix"></div>
        <div class="box">
            <img src="~/Content/img/icon-team.png"/>
            <b>LIÊN HỆ</b>
            <p>quan@quan.com<br>quan@quan.com</p>
        </div>
    </div>

    <div class="kn-special">
        <div class="kn-panel">Khuyến mại</div>
        @for(int i = 0; i < 4; i++){
        <div class="product-box">
            <img src="">
            <b>Samsung Galaxy S4</b>
            <h4 class="price"><del>20.000.000</del> <b style="color: #c83a3a;">19.000.000</b></h4>
        </div>
        }
    </div>
</div>
<div class="kn-main">
@Html.Partial("Elements/_Slide")
<div class="kn-panel-bottom-line">
    <h2>SẢN PHẨM MỚI</h2>
</div>
</div>