﻿@model FashionShop.Models.Brand

@{
    ViewBag.Title = "Create new brand";
}

<h2>Create</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })){
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Brand</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
 
        <label for="Image">Image:</label>
	    <input required type="file" name="Image" id="Image" data-preview-img="#brand-img" data-allow-types="image/jpg,image/jpeg,image/png" data-max-size="1048576" />
        <img id="brand-img" src="" style="display:none" height="120" width="160"/>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
