﻿@model FashionShop.Models.Brand

@{
    ViewBag.Title = "Edit brand";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })){
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Brand</legend>

        @Html.HiddenFor(model => model.BrandID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label hide">
            @Html.LabelFor(model => model.Created)
        </div>
        <div class="editor-field hide">
            @Html.EditorFor(model => model.Created)
            @Html.ValidationMessageFor(model => model.Created)
        </div>

         <label for="Image">Image:</label>
	    <input required type="file" name="Image" id="Image" data-preview-img="#brand-img" data-allow-types="image/jpg,image/jpeg,image/png" data-max-size="1048576" />
        @{var ImageURL = "/Content/img/brand/" + Model.BrandID + ".jpg";}
        <img id="brand-img" src="@ImageURL"  height="120" width="160"/>
   

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
